﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}

<h2>Application Roles List</h2>

<p>
    @Html.ActionLink("Add New Role", "Create", "Role")
</p>

<table id="table">
    <tr>
        <th>
            <strong>Application Role</strong>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:100%; border:dotted 1px;">
                @item.Name
            </td>
        </tr>
    }

</table>
<script>
    $(document).ready(function () {
        $("#table").kendoGrid({
            dataSource: {
                pageSize: 20
            },
            filterable: {
                extra: false,
                mode: "row",
                operators: {
                    string: { contains: "Contains" }
                }
            },
            height: 550,
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
        });
    });
</script>