
@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h2>Welcome Admin. This is the main dashboard.</h2>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
        <li>@Html.ActionLink("Daily Attendance", "Index", "DailyAttendance")</li>
    </h3>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}