@model IEnumerable<Kdg_MVC.ViewModels.EnrollmentData>
@{
    ViewBag.Title = "EnrollmentData";
}

<h3>Dear Parent, We're so happy to have @ViewBag.FullName with us since @ViewBag.Date! Your child is now part of the @ViewBag.GroupName group! </h3>
